{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
		        <a class="btn btn-outline-success" href="#">View</a>
		        <h4 style="display: inline-block;float: right">
                    UGX {{product.price|floatformat:0}}
                </h4>

            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        <!-- we need a function to capture the adding to cart function. -->
        function addToCart(itemId) {
          fetch(`/add-to-cart/${itemId}/`, {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': getCookie('csrftoken'),  // Include CSRF token if required
              },
              body: JSON.stringify({}),
          })
          .then(response => response.json())
          .then(data => {
              // Update the cart UI or perform any other necessary actions
              console.log(data);
          })
          .catch(error => {
              console.error('Error:', error);
          });
      }
      
      // Helper function to get CSRF token from cookies
      function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(';').shift();
      }
  
      
  
  
  
      </script>
{% endblock content %}